{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="main">
            <h1>Homepage content</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur, cumque dicta dolorem
                doloremque eius eligendi est facilis hic illo laborum, minima nisi nobis quidem unde ut vero voluptate!
            </p>
        </div>

        <div class="sidebar">
            <ul>
                <li><a href="#!">link</a></li>
                <li><a href="#!">link</a></li>
                <li><a href="#!">link</a></li>
                <li><a href="#!">link</a></li>
            </ul>
        </div>
    </div>

{% endblock %}